.modal{
    display: none;
    text-align: left;
    position: fixed;
    z-index: 10000;
    top: 5rem;
    bottom: 4.5rem;
    left: 3rem;
    right: 3rem;
    background-color: var(--text-clr);
    color: #000;
    overflow-y: scroll;
    overflow-x: hidden;
    box-shadow: 0 0 0 6rem rgba(0, 0, 0, 0.85);
}

.modal ul{
    margin-left: 2rem;
}

.modal li + li {
    margin-top: 2rem;
}

.modal .section__title{
    margin-bottom: .05em;
}

.modal span{
    font-weight: 700;
}


.modal-project{
    padding-bottom: 3rem;
}

.is-open{
  display: block;
}
.modal__header-portfolio{
    background: url('/images/portfolio-header.png');
}

.modal__header-yelpcamp{
    background: url('/images/yelp-header.png');
}

.modal__header{
    background-size: cover;
    background-position: center;
    padding: 10rem 3rem 5rem 0;
    color: var(--text-clr);
    text-shadow: 1px 1px 0 var(--text-clr-accent);
    margin-bottom: 2rem;
}



.header__box{
    padding: 1em;
    background-color: #4a41388e;
    width: 90%;
    max-width: 450px;
}

.modal__content{
    font-size: var(--fs-small);
    width: 85%;
    max-width: 1000px;
    margin: 0 auto;
}

.modal__text{
    max-width: 60ch;
}

.modal-close{
    position: fixed;
    top: 4rem;
    left: 2rem;
    background-color: var(--accent-clr);
    border: none;
    width: 30px; 
    height: 30px;
    padding: 8px;
    border-radius: 50%;
    z-index: 20000;
}

.full-width{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    background-color: var(--primary-clr);
    margin: 2rem calc(50% - 50vw);
    height: 25vh; 
}

.modal__main .pull-left
{
    max-width: 300px;
}

.little-img{
    display: none;
}

.modal-icons-container{
     display: flex;
     max-width: 800px;
     width: 80%;
     justify-content: space-evenly;

}

.modal-icons-container--lg{
    gap: 2rem;
   flex-wrap: wrap;
}

.modal-icons-container--lg img{
 
    width: 48px;
  
}

.pull-left{
    /* margin-top : 2rem; */
    margin-bottom : 2rem;
    width: 100%;
    max-width: 400px;
}

.pull-right{
    clear: both;
    float: right;
}


.spacer, .spacer-sm{
    clear: both;
}

.spacer-big{
    height: 100px;
}

.spacer-sm{
    height: 30px;
}

@keyframes modalIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@keyframes modalOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}