*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}


:root{
    --font-family:'Jost', sans-serif;
    --fs-largest: calc(var(--fs-big) * 1.75);
    --fs-large: calc(var(--fs-big) * 1.2);
    --fs-big: 4rem;
    --fs-medium: 2.7rem;
    --fs-small: 2rem;
    --fs-xsmall: 1rem;
    --linespacing-sm: 1.1;
    --linespacing-md: 1.5;
    --pad-sm: 6rem;

    
    --pink-clr: #ff00d6;
    --pink-clr-accent: #5a90e1;
    
    --text-clr: #FFF;
    --text-clr-accent: var(--pink-clr);
    


    --primary-clr: #040028;
    --secondary-clr: #040028;
    --background-inverse: #4a4138;
    --box-clr: #282c34;
    --box-clr-light: #282c34a9;
    --accent-clr: #ffa500;
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.sr-only{
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;  
}

.circle{
    z-index: -200;
    background-color: var(--box-clr-light);
    border-radius: 50%;
}

.circle-big{
    width: 300px;
    height: 300px;
    
}

.circle-small{
    width: 150px;
    height: 150px;
}

.circle-pull-right{
    margin-left: auto;
}

.circle-pull-middle{
    margin-left: 25%;
}

body{
    font-family: var(--font-family);
    line-height: var(--linespacing-sm);
    overflow-x: hidden;
    letter-spacing: .06em;
    color: var(--text-clr);
}

img{
    max-width: 100%;
}

form{
    width: 90%;
    max-width: 400px;
    margin: 0 auto;
}

label{
    color: var(--text-clr);
    text-shadow: 1px 1px 0 var(--text-clr-accent);
    letter-spacing: .07em;
}

input{
    padding: .75rem;
}


textarea{
    padding: 0 .75rem;
    resize: none;
}

input, textarea{
    width: 100%;
    display: block;
    font-family: inherit;
    font-size: var(--fs-small);
    outline-color: var(--accent-clr);
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: 10px;
}

.underlined{
    display: inline-block;
}

.underlined::after{
    content: "";
    display: block;
    width: 100%;
    background-color: var(--text-clr);
    height: 1px;
}

nav{
    color: var(--text-clr);
    text-shadow: 1px 1px 0 var(--text-clr-accent);
    letter-spacing: .07em;
    font-size: var(--fs-small);
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 9000;
}

.nav__item{
    list-style: none;
    justify-content: space-between;
    transition: background-color 1s ease-in, box-shadow 250ms ease-in;
}

.nav-scrolled {
    color: var(--text-inverse);
    background: var(--primary-clr);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.faders{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.from-left{
    transform: translateX(-20%);
}

.from-right{
    transform: translateX(20%);
}

.from-left, .from-right{
    opacity: 0;
    transition: opacity 250ms ease-in, transform 600ms ease-in;
}

.from-left.appear,
.from-right.appear{
    transform: translateX(0);
    opacity: 1;
}

.faders.appear{
    opacity: 1;
}

.mobile-nav-toggle{
    display: none;
}

.nav__item a > [aria-hidden="true"]{
    font-weight: 700;
    margin-inline-end: .75em;
}

.nav__link{
    text-decoration: none;
    color: inherit;
    transition: border-bottom 200ms ease-out;
}

.nav__link:hover{
    border-bottom: 3px solid var(--text-clr);
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--primary-clr);
    z-index: -1;
}

main{
    text-align: center;
    line-height: var(--linespacing-md);
    background-color: var(--secondary-clr);
}

#main{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.hero{
    height: 80%;
    width: 100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__text{
    color: var(--text-clr);
    position: absolute;
}

.hero__text--prmry{
    top: 80%;
    left: 22%;
    transform: translate(-20%, -70%);
    font-size: var(--fs-big);
    letter-spacing: .07em;
    text-transform: uppercase;
    text-shadow:  3px 0 var(--pink-clr);
}

.hero__text--scndry{
    padding-top: 20rem;
    top: 90%;
    left: 20%;
    transform: translate(-20%, -70%);
    font-size: var(--fs-medium);
    letter-spacing: .07em;
    text-shadow:  1px 0 var(--pink-clr);
}

.section{
    padding: var(--pad-sm) 0;
}

.section-about,
figcaption{
    text-align: left;
    
}

.section-about{
    margin-top: 10rem;
    padding: 30rem 0;
}

.about__img{
    display: none;
}


.responsive-box{
    display: flex;
    flex-direction: column;
}

.section-skill__icons + .section-skill__icons{
    margin-top: 5rem;
} 

.section__title{
    color: var(--pink-clr);
    letter-spacing: .0275em;
    text-shadow: 1px 1px 0 var(--pink-clr-accent);
}


.section__title, .section__subtitle{
    font-size: var(--fs-large);
    margin-bottom: .75em;
}

.section__description{
    font-size: var(--fs-small);
}

.box, .section__box{
    padding: var(--pad-sm) 0;
    border-radius: 5px;
    background-color: var(--box-clr);
}

.box{
    position: relative;
    max-width: 550px;
    margin: 0 auto;
}

.section__box{
    display: flex;
    position: relative;
    align-items: center;
    max-width: 375px;
    min-height: 400px;
}

.section__box::after{
    content: "";
    position: absolute;
    z-index: -1;
    top: 11px;
    right: 9px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: 1px solid var(--pink-clr-accent);
}

.project__img{
    position: relative;
}

.desktop-only{
    display: none;
}

.grid{
    display: grid;
    gap: 20px;
}

.grid-child:nth-child(1){
    justify-self: left;
    /* grid-area: title; */
}
.grid-child:nth-child(2){
    max-width: 375px;
    /* grid-area: portfolio; */
}
.grid-child:nth-child(3){
    max-width: 375px;
    /* grid-area: yelpcamp; */
}


.section-project{
    padding: 20rem 0;
}

.project__img-links {
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
    width: 120px;
}

.project__img-links img{
   transition: transform 100ms ease-in;
}

.project__img-links img:hover{
    transform: translateY(-4px);
}

.project__img-links img:active{
    transform: translateY(-4px);
}

figcaption{
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.78);
    color: transparent;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    padding: 0 1rem;
    transition: transform 200ms ease-in, color 50ms 250ms ease-in;
}

figure{
    overflow: hidden;
    margin: 0 auto;
}

figure .preview-img{
    transition: transform 150ms ease-in;
    width: 100%;
    height: 100%;
}

figure:hover .preview-img{
    transform: scale(1.05);
}

figure:hover figcaption{
    transform: scaleY(1);
    color: white;
}

.project__captions{
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    height: 90%;
    flex-direction: column;
}

.project__title{
    margin-top: auto;
    font-size: var(--fs-big);
}

.project__description{
    font-size: var(--fs-small);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.project__link{
    font-weight: 600;
    color: white;
    text-transform: uppercase;
}

.section-contact{
    padding-top: 8rem;
    padding-bottom: 15rem;
}

.field{
    font-size: var(--fs-small);
    text-align: left;
}

.field + .field{
    margin-top: 2rem;
}

#submit-btn{
    font-weight: 400;
    border: 1px solid var(--text-clr);
    font-family: inherit;
    font-size: var(--fs-small);
    margin-top: 3rem;
    padding: 1rem 2.25rem;
    border-radius: 10px;
    background-color: var(--accent-clr);
    transition: transform 50ms ease-in, background-color 100ms ease-in;
}

#submit-btn:hover{
    transform: scale(1.03);
    background-color: rgb(250, 183, 59);
}

#submit-btn:active{
    background-color: white;
}