*, *::after, *::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


html{
    box-sizing: border-box;
    font-size: 62.5%;
}


:root{
    --font-family: 'Rubik', sans-serif;
    --fs-largest: calc(var(--fs-big) * 1.75);
    --fs-large: calc(var(--fs-big) * 1.2);
    --fs-big: 4rem;
    --fs-medium: 2.7rem;
    --fs-small: 2rem;
    --fs-xsmall: 1rem;
    --linespacing-sm: 1.1;
    --linespacing-md: 1.5;
    --pad-sm: 6rem;
    --primary-clr: #FFF;
    --background-inverse: #4a4138;
    --accent-clr: #b6946d75;

    
}

.resize-animation-stopper * {
    animation: none !important;
    transition: none !important;
}

.sr-only{
    border: 0 !important;
	clip: rect(1px, 1px, 1px, 1px) !important;
	-webkit-clip-path: inset(50%) !important;
	clip-path: inset(50%) !important;  
	height: 1px !important;
	margin: -1px !important;
	overflow: hidden !important;
	padding: 0 !important;
	position: absolute !important;
	width: 1px !important;
	white-space: nowrap !important;  
}



body{
    font-family: var(--font-family);
    line-height: var(--linespacing-sm);
    overflow-x: hidden;
}

.container{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

.flex {
    display: flex;
    gap: var(--gap, 1rem);
}

nav{
    color: var(--primary-clr);
    color: #000;
    font-size: var(--fs-small);
    position: fixed;
    width: 100%;
    text-transform: uppercase;
    font-weight: 700;
    z-index: 9000;
}

.nav__item{
    list-style: none;
    justify-content: space-between;
    transition: background-color 1s ease-in, box-shadow 250ms ease-in;
}

.nav-scrolled {
    color: var(--text-inverse);
    /* background-color: var(--background-inverse); */
    /* background: linear-gradient(to left, #f0f1f3, #a0a9b0); */
    background: linear-gradient(to left, #daa880, #daa880);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.faders{
    opacity: 0;
    transition: opacity 500ms ease-in;
}

.from-left{
    transform: translateX(-20%);
}

.from-right{
    transform: translateX(20%);
}

.from-left, .from-right{
    opacity: 0;
    transition: opacity 250ms ease-in, transform 600ms ease-in;
}

.from-left.appear,
.from-right.appear{
    transform: translateX(0);
    opacity: 1;
}

.faders.appear{
    opacity: 1;
}

.mobile-nav-toggle{
    display: none;
}

.nav__item a > [aria-hidden="true"]{
    font-weight: 700;
    margin-inline-end: .75em;
}

.nav__link{
    text-decoration: none;
    color: inherit;
    transition: border-bottom 200ms ease-out;
}

.nav__link:hover{
    color: var(--text-inverse);
    border-bottom: 3px solid var(--text-inverse)
}

.slider{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    /* background: linear-gradient(to left, #473f36, #8b7e75);   */
    background: linear-gradient(to left, #daa880, #daa880);
    z-index: -1;
}

main{
    text-align: center;
    line-height: var(--linespacing-md);
    background-color: #d6b498;
}

#main{
    display: flex;
    height: 80vh;
    justify-content: center;
    align-items: center;
    padding-top: 5rem;
}

.hero{
    height: 80%;
    width: 100%;
    position: relative;
}

.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__text{
    /* color: var(--primary-clr); */
    color: #000;
    position: absolute;
}

.hero__text--prmry{
    top: 80%;
    left: 22%;
    transform: translate(-20%, -70%);
    font-size: var(--fs-big);
}

.hero__text--scndry{
    padding-top: 3rem;
    top: 90%;
    left: 20%;
    transform: translate(-20%, -70%);
    font-size: var(--fs-xsmall);
}

.section{
    padding: var(--pad-sm) 0;
}

.section-about,
.section-project{
    text-align: left;
    margin-top: 10rem;
    padding: 10rem 0;
}

.section-skill{
    /* border: 2px solid green; */
    display: flex;
    flex-direction: column;
}

.section-skill__icons + .section-skill__icons{
    margin-top: 5rem;
} 

.section__title, .section__subtitle{
    font-size: var(--fs-large);
    margin-bottom: .75em;
}

.section__description{
    font-size: var(--fs-small);
}

.section__box{
    display: flex;
    align-items: center;
    padding: var(--pad-sm) 0;
    border-radius: 5px;
    background-color: var(--accent-clr);
    border: .1px solid bisque;
    max-width: 375px;
    min-height: 400px;
}


@media (min-width: 640px){
    .nav__item {
        --gap: 1.8rem;
        padding-block: 2rem;
        padding-inline: 3rem;
        font-size: var(--fs-small);
    }
    .hero__text--prmry{
        font-size: var(--fs-large);

    }
    .section-about .section__title,
    .section-project .section__title{
        font-size: var(--fs-largest);
    }


}

@media (max-width: 640px) {
    .nav__item{
        --gap: 1.2em;
        position: fixed;
        inset: 0 0 0 30%;
        flex-direction: column;
        z-index: 1000;
        justify-content: flex-start;
        padding: min(30vh, 10rem) 2em;
        transform: translateX(100%);
        transition: transform 350ms ease-out;
        background-color: var(--background-inverse);
    }

    .nav__group{
        display: block;
    }

    .nav__list{
        padding-top: 1.5rem;
    }

    .nav__item[data-visible="true"]{
        transform: translateX(0%);
    }

    .mobile-nav-toggle{
        display: block;
        position: fixed;
        z-index: 9999;
        background: url("images/icon-hamburger.svg") no-repeat center;
        width: 2rem;
        background-color: var(--background-inverse);
        border-radius: 5px;
        padding: 2.5rem;
        border: 0;
        aspect-ratio: 1;
        top: 3.75rem;
        right: 3rem;
        transition: background 50ms linear;
    }
    
    .mobile-nav-toggle[aria-expanded="true"]{
        background: url("images/icon-close.svg") no-repeat center;
        background-color: var(--background-inverse);
    }


}

 @media(min-width: 940px){
    .section__box{
        padding-left: 3rem;
        padding-right: 3rem;
    }
    .section__box.container{
        width: unset;
    }
    .section-skill{
        justify-content: space-between;
        flex-direction: row;
    }
    .section-skill__icons{
        flex-basis: 48%;
    }
    .section-skill__icons + .section-skill__icons{
        margin-top: 0;
    } 
}

@media(min-width: 1200px){
    .hero__text--prmry{
        font-size: var(--fs-largest);
    }
    .section-skill__icons{
        flex-basis: 50%;
    }

    .section__box.container{
        padding-left: 5rem;
        padding-right: 5rem;
        max-width: 420px;
    }
}




